.qty i,.fa-trash{
    cursor: pointer;
}
.text-right{
    float:right;
    color:#35badb;
    font-weight: 700;
    cursor: pointer;
}
.message{
    color:#35badb;
    font-weight: 700;
    text-align: center;
}
.message span{
    font-size: 16px;
    color: lightgrey;
    text-align: center;
    font-weight: 700;
}